
services:
  bnbnode:
    build: "./binance"
    ports:
      - "26658:26658"
      - "26659:26657"
    volumes:
      - "./binance/initstate/.bnbchaind/config:/root/.bnbchaind/config"
      - "./binance/initstate/.bnbcli:/root/.bnbcli"
    command:
        - sh
        - -c
        - nginx && root/.bnbchaind/config/init-data-directory.sh && bnbchaind start
  bnbrest:
    build: "./binance"
    ports:
      - "8080:8080"
    volumes:
      - "./binance/initstate/.bnbcli:/root/.bnbcli"
    command:
        - sh
        - -c
        - nginx && bnbcli api-server --laddr=tcp://0.0.0.0:8081 --node=tcp://bnbnode:26657
